services:
  backend:
    build:
      context: ./backend
    ports:
      - "8050:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
      INIT_ADMIN_EMAIL: ${INIT_ADMIN_EMAIL}
      INIT_ADMIN_PASSWORD: ${INIT_ADMIN_PASSWORD}
      SMTP_CLIENT_ID: ${SMTP_CLIENT_ID}
      SMTP_CLIENT_SECRET: ${SMTP_CLIENT_SECRET}
      SMTP_REFRESH_TOKEN: ${SMTP_REFRESH_TOKEN}
      SMTP_ACCESS_TOKEN: ${SMTP_ACCESS_TOKEN}
      SMTP_USER: ${SMTP_USER}
      PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"
      PRISMA_CLIENT_ENGINE_TYPE: "binary"

  frontend:
    build:
      context: ./frontend
      target: development
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: "development"
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    depends_on:
      - backend

volumes:
  db_data:
