services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${LOCAL_POSTGRES_USER}
      POSTGRES_PASSWORD: ${LOCAL_POSTGRES_PASSWORD}
      POSTGRES_DB: ${LOCAL_POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    ports:
      - "8050:3000"
    environment:
      DATABASE_URL: ${CLOUD_DATABASE_URL}
    depends_on:
      - db

  # frontend:
  #   build:
  #     context: ./frontend
  #     target: development
  #   ports:
  #     - "5173:5173"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   environment:
  #     - NODE_ENV=development
  #   depends_on:
  #     - backend

volumes:
  db_data:
