services:
  backend:
    image: neoclinic-backend:1.0
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: npm run start
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  frontend:
    image: neoclinic-frontend:1.0
    ports:
      - "80:80"
    depends_on:
      - backend
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

